/* These are all classes related to the entire website*/

body
{
	font-family: 'Oswald';
}
.headings
{
	text-align: center;
	color : #CCA969;
}

.colorscheme1
{
    background: #291B2C; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top ,rgb(128,195,243), #291B2C); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right,rgb(128,195,243), #291B2C); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right,rgb(128,195,243), #291B2C); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right,rgb(128,195,243), #291B2C); /* Standard syntax */
}

.colorscheme2
{
    background: #904e95; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top ,#904e95, #e96443); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right,#904e95, #e96443); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right,#904e95, #e96443); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right,#904e95, #e96443); /* Standard syntax */
}

.colorscheme3
{
	background-color: rgb(51,51,51);
}

.pads
{
	padding-top: 75px ;
}

.headingStyle2
{
	color: black;
	text-align: center;
}












/* These are all classes related to the navbar*/
.sec1navbarCustom
{
	min-height: 75px ;
	background-color: rgb(255,255,255);
}

.sec1whiteClass
{
	background-color: white ;
	margin: 0px ;
	padding: 0px ;
	min-height: 75px ;
}

.sec1imageNav>li>a
{
	padding: 0px ;
	margin: 0px ;
}

.sec1navbarLogo
{
	height: 65px ;
	margin: 5px ;
	padding: 0px ;
}

.sec1navigation
{
	margin-top: 12px ;
}

.sec1collapser
{
	margin: 0px;
	margin-top: -65px ;
	margin-right: 20px ;
	width: 40px ;
	height: 40px ;
	align-items: center ;
	align-content: center ;
}

.sec1navigation>li
{
	color:rgb(255,255,255);
}
















/* These are all classes related to the home page*/

.sec2homePage
{
	padding: 0px ;
}

.sec2mainPhoto
{
	width:100%;
	margin :0px;
	margin-top: 75px !important;
	padding: 0px;
}














/* These are all classes related to the about us page*/

.sec2text
{
	text-align: justify;
	padding-top: 20px ;
	padding-bottom: 69px ;
}












/* These are all classes related to the vision page*/


.sec3text
{
	text-align: justify;
	padding-top: 20px ;
	padding-bottom: 20px ;
}











/* These are all classes related to the panel of mediators page*/


#panel
{
		background-color: #C7D0D5;
}
.sec4people
{
	height : 100px;
	width: 100px ;
}

.sec4people-left
{
	align-self: left;
}

.sec4people-right
{
	align-self: right ;
}

.sec4readabout
{
	margin: 20px ;
	background-color: #FF7148;
	color : white;
	border-radius: 30px ;
}

.sec4readabout:hover
{
	background-color : #EC583A;
	color : white ;
}


.sec4description
{
	text-align: justify;
}














/* These are all classes related to the rules of mediation page*/


.sec5rulesCustom
{
	align-items: center ;
	text-align: center ;
}

.sec5btnSpecial
{
	background-color: rgb(74,144,226);
	color : white;
	margin-top: 30px;
	margin-bottom: 50px ;
	border-radius: 30px ;
}

.sec5btnSpecial:hover
{
	background-color: white; 
	color: rgb(74,144,226);
}

.sec5btnCustom
{
	background-color: rgb(128,195,243); 
	color: rgb(238,238,238);
	width : 280px ;
	margin-top: 10px ;
	margin-bottom: 20px ;
	margin-left: 10px ;
	margin-right: 10px ;
}

.sec5btnCustom:hover
{
	margin-top: 10px ;
	margin-bottom: 20px ;
	color: rgb(74,144,226) ;
	background-color : white ;
	width : 280px ;
}

.sec5custom
{
	margin: 0px ;
	padding: 0px;
}

.sec5text
{
	text-align: justify;
	padding-top: 20px ;
	padding-bottom: 69px ;
}







/* These are all classes related to the faqs page*/




.sec6faqSection
{
	padding: 0px ;
	padding-top: 75px ;
	align-items: center;
	text-align: center;
}

.sec6btnSpecial
{
	background-color: rgb(74,144,226);
	color : white;
	margin-top: 30px;
	margin-bottom: 50px ;
	border-radius: 30px ;
}

.sec6btnSpecial:hover
{
	background-color: white; 
	color: rgb(74,144,226);
}

.sec6btnCustom
{
	background-color: rgb(128,195,243); 
	color: rgb(238,238,238);
	width : 280px ;
	margin-top: 10px ;
	margin-bottom: 20px ;
	margin-left: 10px ;
	margin-right: 10px ;
	padding: 10px ;
}

.sec6btnCustom:hover
{
	margin-top: 10px ;
	margin-bottom: 20px ;
	color: rgb(74,144,226) ;
	background-color : white ;
	width : 280px ;
}

.sec6text
{
	text-align: justify;
	padding-top: 20px ;
	padding-bottom: 69px ;
}


/* These are all classes related to the contact us page*/
.sec7headings
{
	color: white;
	text-align: left;
}

.sec7headings-right
{
	color: white;
	text-align: right;
}
/* These are all classes related to the footer*/

.sec8container
{
	height : 30px ;

}

.sec8text
{
	height : 30px ;
	margin-top:12px ;
	color:rgb(255,255,255);
	text-align: center ;
}

